.footer-botside {
	display: flex;
	justify-content: space-between;
	padding: 2% 0;
	flex-direction: column;
}
.footer-end-info p {
	display: inline;
	margin-left: 20%;
}
.footer-socials {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5%;
}
.footer-socials img {
	width: 40px;
	height: 35px;
}
.footer-socials img:hover {
	transform: scale(1.5);
}
.footer-end-info {
	font-size: 0.6rem;
	display: flex;
	justify-content: space-around;
	color: #808080;
}

.footer-end-info a:hover {
	color: #ffffff;
}
@media screen and (max-width: 1024px) {
	.footer-botside {
		flex-direction: column;
		font-size: 0.5rem;
	}
	.footer-end-info {
		flex-direction: column;
	}
	.footer-end-info a,
	p {
		font-size: 0.7rem;
	}
	.footer-socials {
		flex-direction: column;
	}
}
