.footer-botside {
	display: flex;
	justify-content: space-between;
	padding: 2% 0;
	flex-direction: column;
}
.footer-botside p {
	display: inline;
	margin-left: 20%;
}
.footer-socials {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5%;
}
.footer-socials img {
	width: 40px;
	height: 35px;
}
.footer-socials img:hover {
	transform: scale(1.5);
}
