.form-wrapper {
	display: flex;
	width: 80%;
}
.form-section-wrapper {
	display: flex;
	height: 50vh;
	padding: 2.5%;
	position: relative;
}
.form-section-wrapper h1 {
	flex: 1;
	font-size: 2rem;
	line-height: 3.2rem;
	width: 20%;
	margin-right: 2%;
	text-transform: uppercase;
}
.form-submit-button {
	border-radius: 50px;
	border: 1px solid #121212;
	background: transparent;
	font-size: 1.1rem;
	font-weight: 500;
	text-transform: uppercase;
	margin: 1%;
	cursor: pointer;
	width: 20%;
	padding: 1% 2%;
}
.form-submit-button:hover {
	background: linear-gradient(35deg, #121212 55%, #f0f1f3bf, #121212 69%);
	animation: gloss 1.5s ease-in-out;
	background-size: 300% 250%;
	border: 1px solid #ffffff;
	color: #ffffff;
}
.form-wrapper label {
	font-size: 0.8rem;
	line-height: 1.2rem;
}
.form-wrapper input {
	border: hidden;
	border-bottom: 1px solid #dddddd;
	line-height: 1.1rem;
	height: 3rem;
	text-indent: 10px;
	padding: 1%;
	width: 90%;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.req-input-field {
	color: #ff2929;
}
.inactive-btn {
	pointer-events: none;
}
.form-message {
	resize: none;
	width: 45%;
	height: 50%;
	border: hidden;
	border-bottom: 1px solid #dddddd;
	padding: 2%;
	text-indent: 10px;
}
.form-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 6rem;
}
.input-group {
	display: flex;
}
.submit-success {
	position: absolute;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(3px);
	min-height: 50%;
	text-align: center;
	padding: 10%;
	top: 3rem;
	border-radius: 8px;
	box-shadow: 0 0 10px #000000bf;
	width: 70%;
	justify-content: center;
	display: flex;
	align-items: center;
	align-content: center;
}
@media screen and (max-width: 1024px) {
	.form-section-wrapper {
		flex-direction: column;
		height: 85vh;
		padding: 7%;
	}
	.form-section-wrapper h1 {
		width: 100%;
		flex: none;
	}
	.form-submit-button {
		width: 100%;
		border: 1px solid #5115f7;
		color: #5115f7;
		padding: 2% 0;
	}
	.form-wrapper {
		width: 100%;
		height: 90%;
	}
	.form-message {
		width: 100%;
	}
	.input-group {
		flex-direction: column;
	}
	form {
		gap: 5%;
	}
	.submit-success {
		left: 15%;
	}
}
