.main-content {
	height: 100vh;
	display: block;
}
.work-hero {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: yellowgreen;
}
.work-hero-text {
	color: #ffffff;
	padding: 5%;
	width: 50%;
}
.work-hero-title {
	font-size: 1.1rem;
	margin-bottom: 25px;
}
.work-hero-description {
	font-family: Helvetica, Arial;
	line-height: 1.6;
	font-size: 2rem;
	font-weight: 400;
	width: 100%;
	text-align: left;
}
strong {
	font-family: inherit;
	font-size: inherit;
	font-weight: 700;
}
